.App {
  text-align: left;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

div {
  border: 1px;
}

.App-header {
  box-shadow: 0 2px 2px #0000;
  width: 100%;
  padding: 0px;
  border: 1 px solid #eee;
  /* background-color: #282c34;
  min-height: 100vh; */
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: red;
}



nav {
  background-color: rgb(167, 223, 197);
  padding: 8px;
  align-content: initial;

}

h2 {
  text-align: start;
  font-family: inherit;
  font-size: 16px;
  color: black;
  padding: 8px;
}

h3 {
  text-align: start;
  font-family: inherit;
  font-size: 14px;
  color: gray;
  padding: 40px;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

