.App {
    font-family: sans-serif;
    text-align: left;
    padding: 4px;
  }
  
  header {
    padding: 12px;
    border-bottom: 1px solid lightgray;
  }
  
  a {
    margin: 0 10px;
  }

  p {
    font-family: inherit;
    color: black;
  }

  .linkStyle {
    text-decoration: none;
    color: black;
    font-weight: "bold";
    
  }

  



  